dist/WeTransferTool-0.3.tar.gz
dist/WeTransferTool-0.4.tar.gz
WeTransferTool.egg-info/dependency_links.txt
WeTransferTool.egg-info/PKG-INFO
WeTransferTool.egg-info/requires.txt
WeTransferTool.egg-info/SOURCES.txt
WeTransferTool.egg-info/top_level.txt
